@font-face {
    font-family: 'SNICN';
    src: url(/font/SNICN___.TTF);
}

@font-face {
    font-family: 'STAY';
    src: url(/font//Smart\ home\ Display.TTF);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 40px 400px 400px 100px;
    grid-template-areas:
    "he he"
    "na na"
    "s1 s1"
    "s2 s2"
    "fo fo"
    ;
}

.link_background{
    background-color: #fff;
    border-radius: 1.5px;
    border:red solid;

}

#link_list a{
    text-decoration: none;
    letter-spacing: 0.048rem;
    color: #210082;
    font-weight: bold;
    font-size: 1.15rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-transform: uppercase;
}

#link_list a:hover{
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    height: 40px;
    background-color:rgb(68, 40, 19);
    grid-area: na;
}

#link_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 0px;
    flex-direction: row;
    list-style: none;
    z-index: 0;
}

header{
    grid-area: he;
    background-color: rgb(68, 40, 19);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
}

#header_text{
    width: 430px;
    height: 90px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0.348rem;
    color: #210082;
    font-family:'SNICN';
    font-weight: bold;
    font-size: 6rem;
    text-transform: uppercase;
    background-color: white;
    border-radius: 28px 1px;
    border:red solid 5px;
    text-shadow: -3px 0 1px rgb(255, 255, 255), -3.5px 0 1px #210082 ;
}

#section_1{
    width: 100%;
    height: 500px;
    background-color: #6F2F79;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-evenly;
    align-items: center;
}

#new_flavour_text{
    font-size: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    position: relative;
    -webkit-text-stroke: 0vw;
    text-transform: uppercase;
    white-space: nowrap;
}

#new_flavour_text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #E5AC49;
    -webkit-text-stroke: 0vw;
    overflow: hidden;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%
    {
        width: 0;
    }
    50%
    {
        width: 100%;
    }
}

#bild_brownie{
    height: 250px;
}

#section_2{
    width: 100%;
    height: 500px;
    background-color: #eca833;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.btn{
    font-size: 18px;
    font-weight: bold;
    width: 160px;
    height: 50px;
    background-color:#210082;;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    z-index: 1;
}

#button_products{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 90px;
    width: 100%;
    height: 500px;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

#snickers_img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0px;
}

#snickers_img_2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 558px;
}

#footer{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #210082;
    justify-content: space-evenly;
}

#left{
    grid-area: left;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_text{
    margin: 10px;
    color: #fff;
}

.footer_text:hover{
    cursor: pointer;
}

#middle{
    grid-area: middle;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#btn_fo{
    font-size: 18px;
    font-weight: bold;
    width: 160px;
    height: 25px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border:rgb(255, 255, 255) solid 1px;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
}

#enter_email{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 350px;
    background-color: #fff;
}

#enter_email:hover{
    cursor:text;
}

.footer_middle{
    margin: -10px;
    color: #fff;
}

.footer_middle:hover{
    cursor: pointer;
}

#your_email_text{
    color: #6F2F79;
}

#your_email_text:hover{
    cursor:text;
}

#right{
    grid-area: right;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right_text{
    color: #fff;
    margin: 10px;
}

#contact:hover{
    cursor: pointer;
}

#burger{
    display: none;
}

@media screen and (max-width: 700px){
    #burger{
        display: block;
    }

    #burger div{
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        border-radius: 20%;
        transition: all 0.5s
    }

    #burger{
        margin-right: 50px;
        cursor: pointer;
    }

    .burger_in_x_form #burger_line_2{
        opacity: 0;
    }

    .burger_in_x_form #burger_line_1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger_in_x_form #burger_line_3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
