@font-face{
    font-family: 'SNICN';
    src: url(../fonts/snickers.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 40px 500px 500px 100px;
    grid-template-areas:
    "he"
    "na"
    "se1"
    "se2"
    "fo"
    ;
}

.link_background{
    background-color: #fff;
    border-radius: 1.5px;
    border:red solid;
}

#link_list a{
    text-decoration: none;
    letter-spacing: 0.048rem;
    color: #210082;
    font-weight: bold;
    font-size: 1.15rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-transform: uppercase;
}

#link_list a:hover{
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    height: 40px;
    background-color:rgb(68, 40, 19);
    grid-area: na;
}

#link_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 0;
    flex-direction: row;
    list-style: none;
    z-index: 0;
}

#home{
    border-radius: 10px 1px;
}

#shop{
    border-radius: 10px 10px;
}

#about{
    border-radius: 10px 10px;
}

#ask{
    border-radius: 1px 10px;
}

#header{
    height: 100%;
    width: 100%;
    grid-area: he;
    background-color: rgb(68, 40, 19);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

#header_text{
    width: 430px;
    height: 90px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0.348rem;
    color: #210082;
    font-family:'SNICN';
    font-weight: bold;
    font-size: 6rem;
    text-transform: uppercase;
    background-color: white;
    border-radius: 28px 1px;
    border:red solid 5px;
    text-shadow: -3px 0 1px rgb(255, 255, 255), -3.5px 0 1px #210082 ;
}

#burger{
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#burger{
    display:none
}

.burger_lines{
    margin: 5px;
    width: 25px;
    height: 3px;
    background-color: black;
}

#section_1{
    grid-area: se1;
    width: 100%;
    height: 500px;
    background-color: #6F2F79;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-evenly;
    align-items: center;
    z-index: -2;
}

#new_flavour_text{
    font-size: 4.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    position: relative;
    right: 5%;
    -webkit-text-stroke: 0;
    text-transform: uppercase;
    flex-wrap: wrap;
}

#new_flavour_text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #E5AC49;
    -webkit-text-stroke: 0;
    overflow: hidden;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%
    {
        width: 0;
    }
    50%
    {
        width: 100%;
    }
}

.bild_brownie{
    height: 180px;
    position: relative;
    right: 5%;
}

.bild_brownies{
    height: 100px;
    position: relative;
}

#section_2{
    grid-area: se2;
    width: 100%;
    height: 500px;
    background-color: #eca833;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.btn{
    font-size: 18px;
    font-weight: bold;
    width: 160px;
    height: 50px;
    background-color:#210082;;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    z-index: 1;
}

#button_products{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 90px;
    width: 100%;
    height: 500px;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

#snickers_img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 40px;
    margin-left: 10%;
}

#snickers_img_2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80px;
    bottom: 0;
    right: 558px;
    margin-right: 10%;
}

#footer{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #210082;
    justify-content: space-evenly;
}

#left{
    grid-area: left;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_margin{
    height: 100%;
    display: flex;  
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
}

.footer_text{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

#middle{
    grid-area: middle;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#btn_fo{
    font-size: 18px;
    font-weight: bold;
    width: 160px;
    height: 25px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border:rgb(255, 255, 255) solid 1px;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
}

#enter_email{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 350px;
    background-color: #fff;
}

#enter_email:hover{
    cursor:text;
}

.footer_middle{
    margin: -10px;
    color: #fff;
}

#your_email_text{
    color: #000000;
}

#your_email_text:hover{
    cursor:text;
}

#right{
    grid-area: right;
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: #210082;
}

#footer_right_center{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.right_text{
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

#img_logo_container{
    width: 100px;
    height: 100px;
}

#img_logo_footer{
    max-width: 100%;
    max-height: 100%;
}

#grid_wrapper_2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 40px auto;
    grid-template-areas:
    "he"
    "na"
    "ma"
    ;
}

#header{
    width: 100%;
    grid-area: he;
}

#nav{
    width: 100%;
    grid-area: na;
}

#main{
    grid-area: ma;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #fffdd0;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    "te"
    "sh"
    "fo"
    ;
}

#main_text{
    grid-area: te;
    background-color: #fffdd0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_main{
    font-size: 5.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #410c00;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
}

#main_cards{
    grid-area: sh;
    width: 100%;
    height: 100%;
    background-color: #fffdd0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cards{
    width: 24rem;
    height: 520px;
    background-color: rgb(68, 40, 19);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    transition: 0.6s ease;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.8);
    margin: 1%;
}

.cards:hover{
    background-color: #6F2F79;
}

.text_card{
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.348rem;
    display: flex;
    text-align: center;
    position: relative;
    top: 6%;
}

#footer{
    grid-area: fo;
}

.wrapper_parallax{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

#section_parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -2;
}

#background_parallax{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    transform: translateZ(-9.9px) scale(2);
}

.title_parallax{
    font-size: 7rem;
    color: rgb(68, 40, 19);
    text-shadow: 0 0 5px black;
    z-index: -2;
    transform: translateZ(-5px) scale(1.3);
}

#info_snickers{
    background-color:rgb(111, 47, 121) ;
    height: 800px;
    display: flex;
}

#info_snicker_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#img_snickers_original{
    display: flex;
    position: relative;
    left: 30px;
    width: 800px;
}

#snickers_img_info{
    max-width: 100%;
    max-height: 100%;
}

#snickers_info_text_top{
    font-size: 2rem;
    font-weight:bold;
    color: #fffdd0;
    text-align: left;
    margin-bottom: 3%;
    text-decoration: underline;
}

#snickers_info_text{
    display: flex;
    position: relative;
    right: -150px;
    flex-direction: column;
    width: 700px;
    font-size: 1.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.48rem;
    color: #ffffff;
}

#button_ask_us_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 270px;
    left: -900px;
}

#bracket_left{
    font-size: 180px;
    color:#fffdd0;
    position: relative;
    bottom: 15px;
    left: 70px;
}

#bracket_right{
    font-size: 180px;
    color: #fffdd0;
    position: relative;
    bottom: 15px;
    right: 70px;
}

#quote{
    display: flex;
    font-size: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    color: #fffdd0;
    flex-direction: row-reverse;
    position: relative;
    font-weight: bold;
    letter-spacing: 0.348rem;
    -webkit-text-stroke: 0;
    white-space: nowrap;
    text-transform: uppercase;
}

/* #quote::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #6F2F79;
    -webkit-text-stroke: 0;
    overflow: hidden;
    animation: animate 10s linear infinite;
    text-transform: uppercase;
} */

/* @keyframes animate
{
    0%
    {
        width: 0;
    }
    50%
    {
        width: 100%;
    }
} */

#button_ask_us:hover{
    background-color: #eca833;
    transition: 0.4s ease;
}

#snickers_img_3{
    display: none;
}


#quote_box{
    display: flex;
    text-indent: 20px;
    flex-direction: row;
}

#grid_wrapper_4{
    display: grid;
    grid-template-columns: 33%, 34%, 33%;
    grid-template-rows: 150px 40px 200px 80vh 100px;
    grid-template-areas:
    "he he he"
    "na na na"
    "setk setk setk"
    "sel sem ser"
    "fo fo fo"
    ;
}

#header{
    grid-area: he;
}

#nav{
    grid-area: na;
    z-index: 1;
}

#section_text_kontakt{
    grid-area: setk;
    background-color: #fffdd0;
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1px;
    border: double;
}

.text_kon{
    text-transform: uppercase;
    font-size: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #410c00;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
}

#text_any{
    font-size: 4.3rem;
    font-weight: normal;
}

.button_ask{
    z-index: 3;
}

.text_sec_card{
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fffdd0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
    z-index: 0;
    text-decoration:underline;
}

.text_sec_card_left{
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fffdd0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
    z-index: 0;
    text-align: left;
    margin-left: 1%;
}

.text_sec_card_right{
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fffdd0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
    z-index: 0;
    text-align: right;
    margin-right: 1%;
}

.text_sec_card_middle{
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fffdd0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
    z-index: 0;
    text-align: center;
}

.text_sec_card_long_left{
    font-weight: normal;
    font-size: 1.3rem;
    color: #f5f5f5;
    text-decoration: none;
    text-align:left;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
    z-index: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1%;
}

.text_sec_card_long_middle{
    font-weight: normal;
    font-size: 1.3rem;
    color: #f5f5f5;
    text-decoration: none;
    text-align:center;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
    z-index: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text_sec_card_long_right{
    font-weight: normal;
    font-size: 1.3rem;
    color: #f5f5f5;
    text-decoration: none;
    text-align:right;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.348rem;
    z-index: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 1%;
}

#text_sec_card_long_2{
    font-weight: normal;
    font-size: 1.5rem;
    color: #f5f5f5;
    text-decoration: none;
}

#text_sec_card_long_3{
    font-weight: normal;
    font-size: 1.5rem;
    color: #f5f5f5;
    text-decoration: none;
}

.sec_card{
    position: relative;
    height: 580px;
    background-color: rgb(68, 40, 19);
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
  
#section_left_card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #6F2F79;
    transition: width 0.4s ease;
}
  
#section_left_card:hover::before{
    width: 100%;
}

#section_right_card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #6F2F79; 
    transition: width 0.4s ease;
}
  
#section_right_card:hover::before{
    width: 100%;
}

#section_middle_card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #6F2F79;
    transition: height 0.4s ease; 
}
  
#section_middle_card:hover::before{
    height: 100%;
}

.section_ask{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fffdd0;
    border-radius: 1px;
    border: double;

}

#section_left{
    grid-area: sel;
}

#section_left_card{
    height: 90%;
    width: 80%;
    border-radius: 50px 20px 10px 10px;
}

#section_middle{
    grid-area: sem;
}

#section_middle_card{
    height: 90%;
    width: 80%;
    border-radius: 50px 50px 10px 10px;
}

#section_right{
    grid-area: ser;
}

#section_right_card{
    height: 90%;
    width: 80%;
    border-radius: 20px 50px 10px 10px;
}

#footer{
    grid-area: fo;
}



@media screen and (max-width: 845px){

    #tjanster{
        font-size: smaller;
    }

    #FAQ{
        font-size: smaller;
    }

    #kontakt{
        font-size: smaller;
    }

    #button_products{
        height: 0px;
        width: 0px;
        align-items: center;
    }

    .sec_card{
        position:unset;
        justify-content:space-evenly;
    }

    #section_middle_card:hover::before{
        height: 0%;
    }

    #section_right_card:hover::before{
        width: 0%;
    }

    #section_left_card:hover::before{
        width: 0%;
    }

    #burger{
        display: block;
    }
    
    .burger_in_x_form #burger_line_2{
        transform: rotate(90deg);
    }
    
    .burger_in_x_form #burger_line_1{
        transform: rotate(90deg) translate(8px, 9px);
    }
    
    .burger_in_x_form #burger_line_3{
        transform: rotate(90deg) translate(-8px, -9px);
    }

    /* .burger_in_x_form #burger_line_1{
        transform: rotate(90deg) translate(8px, -9px);
    }
    
    .burger_in_x_form #burger_line_3{
        transform: rotate(90deg) translate(-8px, 9px);
    } */
    
    #burger{
        transition: all 0.5s;
    }

    #card_8{
        width: 23rem;
    }

    #header_text{
        width: 300px;
        height: 70px;
        font-size: 4rem;
    }

    #header_logo{
        display: flex;
    }
    
    .burger_lines{
        transition: all 0.5s;
    }

    #enter_email{
        width: 200px;
    }

    #grid_wrapper{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 500px 500px 100px;
        grid-template-areas:
        "he"
        "se1"
        "se2"
        "fo"
        ;
    }

    #grid_wrapper_2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 2400px 100px;
        grid-template-areas:
        "he"
        "ma"
        ;
    }

    /* .link_list_visible{
        transform: translateY(-450px);
    } */

    #header{
        position: relative;
        z-index: 2;
    }

    #section_1{
        width: inherit;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    #new_flavour_text{
        font-size: 3rem;
        position: relative;
        right: 0;
    }

    .bild_brownie{
        height: 100px;
        position: relative;
        right: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .bild_brownies{
        position: relative;
        right: 0;
        max-width: 100%;
        max-height: 100%;
    }

    #brownie_container{
        height: 200px;
    }

    .link_list_visible{
        transform: translateY(400px);
    }

    #link_list{
        background-color: rgb(68, 40, 19);
        height: 300px;
        width: 200px;
        position: absolute;
        left: 0;
        top: -250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        transition: all 0.5s;
    }

    #section_2{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }

    #snickers_img_2{
        display: none;
    }

    #snickers_img{
        display: none;
    }

    #snickers_img_3{
        display: block;
    }

    #main{
        grid-area: ma;
        width: 100%;
        height: 100%;
        display: grid;
        background-color: #fffdd0;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas:
        "te"
        "sh"
        "fo"
        ;
    }

    #nav{
        height: 0;
    }
    
    #quote_box{
        flex-direction: column;
        align-items: center;
    }
    
    #quote{
        font-size: 3rem;
    }

    #info_snicker_container{
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    #img_snickers_original{
        left: 0;
        width: 700px;
    }

    #snickers_info_text_top{
        right: 0;
        width: 700px;
        font-size: 1.7rem;
        text-align:center;
    }
    
    #snickers_info_text{
        right: 0;
        width: 700px;
        font-size: 1.5rem;
        text-align:center;
    }
    
    #button_ask_us_container{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
    }

    .text_kon{
        font-size: 3rem;
    }
    
    #text_any{
        font-size: 2.3rem;
        
    }

    .text_sec_card{
        font-size: 1.5rem;
        z-index: unset;
    }
    

    .text_sec_card_left{
        font-weight: normal;
        font-size: 1.2rem;
        flex-wrap: wrap;
    }

    .text_sec_card_middle{
        font-weight: normal;
        font-size: 1.2rem;
        flex-wrap: wrap;
    }

    .text_sec_card_right{
        font-weight: normal;
        font-size: 1.2rem;
        flex-wrap: wrap;
    }

    .text_sec_card_long_left{
        font-weight: normal;
        font-size: 1rem;
        word-wrap: break-word;
    }

    .text_sec_card_long_middle{
        font-weight: normal;
        font-size: 1rem;
        word-wrap: break-word;
    }

    .text_sec_card_long_right{
        font-weight: normal;
        font-size: 1rem;
        word-wrap: break-word;
    }

    #grid_wrapper_4{
        display: grid;
        grid-template-columns: 33%, 34%, 33%;
        grid-template-rows: 150px 200px 85vh 100px;
        grid-template-areas:
        "he he he"
        "setk setk setk"
        "sel sem ser"
        "fo fo fo"
        ;
    }

    #middle{
        display: none;
    }

    .section_ask{
        height: 100%;
    }

    @media screen and (max-width: 760px){

        #grid_wrapper_4{
            display: grid;
            grid-template-columns: 33%, 34%, 33%;
            grid-template-rows: 150px 200px 105vh 100px;
            grid-template-areas:
            "he he he"
            "setk setk setk"
            "sel sem ser"
            "fo fo fo"
            ;
        }

        .text_sec_card_left{
            font-weight: normal;
            font-size: 0.8rem;
            flex-wrap: wrap;
        }
    
        .text_sec_card_middle{
            font-weight: normal;
            font-size: 0.8rem;
            flex-wrap: wrap;
        }
    
        .text_sec_card_right{
            font-weight: normal;
            font-size: 0.8rem;
            flex-wrap: wrap;
        }

        .text_sec_card{
            font-size: 1rem;
            z-index: unset;
        }

        .text_sec_card_long_left{
            font-weight: normal;
            font-size: 0.7rem;
        }
    
        .text_sec_card_long_middle{
            font-weight: normal;
            font-size: 0.7rem;
        }
    
        .text_sec_card_long_right{
            font-weight: normal;
            font-size: 0.7rem;
        }

        /* #link_list{
            right: -130px;
        } */

        #grid_wrapper_2{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 150px 4800px 100px;
            grid-template-areas:
            "he"
            "ma"
            ;
        }

        #main{
            grid-area: ma;
            width: 100%;
            height: 4800px;
            display: grid;
            background-color: #fffdd0;
            grid-template-columns: 100%;
            grid-template-rows: 5% 95%;
            grid-template-areas:
            "te"
            "sh"
            "fo"
            ;
        }

        #text_main{
            font-size: 3rem;
            text-align: center;
        }

        #burger{
            left: 7%;
        }

        #quote{
            font-size: 20px;
        }

        #bracket_left{
            font-size: 100px;
            left: 5px;
        }

        #bracket_right{
            font-size: 100px;
            right: 5px;
        }
        
        #img_snickers_original{
            left: 0;
            width: 350px;
        }

        #snickers_info_text_top{
            right: 0;
            width: 350px;
            font-size: 1.4rem;
            text-align:center;
        }
        
        #snickers_info_text{
            right: 0;
            width: 350px;
            font-size: 1.2rem;
            text-align:center;
        }

        #grid_wrapper{
            grid-template-columns: 1fr;
        }

        #tjanster{
            font-size:x-small;
        }
    
        #FAQ{
            font-size:x-small;
        }
    
        #kontakt{
            font-size:x-small;
        }

    }
}