@font-face {
    font-family: 'SNICN';
    src: url(/font/SNICN___.TTF);
}

@font-face {
    font-family: 'STAY';
    src: url(/font//Smart\ home\ Display.TTF);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 40px 400px 400px 100px;
    grid-template-areas:
    "he he"
    "na na"
    "s1 s1"
    "s2 s2"
    "fo fo"
    ;
}

.link_background{
    background-color: #fff;
    border-radius: 1.5px;
    border:red solid;

}

#link_list a{
    text-decoration: none;
    letter-spacing: 0.048rem;
    color: #210082;
    font-weight: bold;
    font-size: 1.15rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-transform: uppercase;
}

#link_list a:hover{
    cursor: pointer;
}

/* #burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s
}

#burger{
    margin-right: 50px;
    cursor: pointer;
} */

nav{
    display: flex;
    align-items: center;
    height: 40px;
    background-color:rgb(68, 40, 19);
    grid-area: na;
}

#link_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    top: 0px;
    flex-direction: row;
    list-style: none;
    z-index: 0;
}

header{
    grid-area: he;
    background-color: rgb(68, 40, 19);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
}

#header_text{
    width: 430px;
    height: 90px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0.348rem;
    color: #210082;
    font-family:'SNICN';
    font-weight: bold;
    font-size: 6rem;
    text-transform: uppercase;
    background-color: white;
    border-radius: 28px 1px;
    border:red solid 5px;
    text-shadow: -3px 0 1px rgb(255, 255, 255), -3.5px 0 1px #210082 ;
}

#section_1{
    width: 100%;
    height: 500px;
    background-color: #6F2F79;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-evenly;
    align-items: center;
}

#new_flavour_text{
    font-size: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    position: relative;
    -webkit-text-stroke: 0vw;
    text-transform: uppercase;
    white-space: nowrap;
}

#new_flavour_text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #E5AC49;
    -webkit-text-stroke: 0vw;
    overflow: hidden;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%
    {
        width: 0;
    }
    50%
    {
        width: 100%;
    }
}

#bild_brownie{
    height: 250px;
}

#section_2{
    width: 100%;
    height: 500px;
    background-color: #eca833;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.btn{
    font-size: 18px;
    font-weight: bold;
    width: 160px;
    height: 50px;
    background-color:#210082;;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.text_section_2{
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3e19ae;
    z-index: 1;
    text-decoration: uppercase;
    font-weight: bolder;
    font-weight: ;
}

#snickers_img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 20px;
}

#snickers_img_2{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 730px;
}

#footer{
    width: 100%;
    height: 250px;
    background-color: blue;
}
